@charset "UTF-8";
body {
  color: #000;
  font-family: serif;
}

header {
  position: fixed;
  width: 100%;
  z-index: 500;
}

header .nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 0 20px;
  z-index: 300;
  background-color: #fff;
}

header .nav img {
  width: 150px;
}

header .nav .nav-list {
  width: 70%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-pack: distribute;
      justify-content: space-around;
}

header .nav .nav-list li {
  font-size: 18px;
  margin: 0 12px;
}

header .nav .nav-list li a {
  text-decoration: none;
  color: #000;
}

header .header-btn {
  display: none;
  position: relative;
  margin-right: 10px;
  width: 40px;
  height: 40px;
  border: none;
}

header .header-btn .center-line {
  position: absolute;
  top: 20px;
  left: 5px;
  display: block;
  width: 30px;
  height: 3px;
  padding: 0;
  background-color: #000;
  -webkit-transition: .5s;
  transition: .5s;
}

header .header-btn .top-line {
  position: absolute;
  top: 10px;
  left: 5px;
  content: "";
  display: block;
  width: 30px;
  height: 3px;
  padding: 0;
  background-color: #000;
  -webkit-transition: .5s;
  transition: .5s;
}

header .header-btn .bottom-line {
  position: absolute;
  top: 30px;
  left: 5px;
  content: "";
  display: block;
  width: 30px;
  height: 3px;
  padding: 0;
  background-color: #000;
  -webkit-transition: .5s;
  transition: .5s;
}

.header-btn .top-line.open {
  top: 20px;
  -webkit-transform: rotate(135deg);
          transform: rotate(135deg);
  -webkit-transition: .5s;
  transition: .5s;
  background-color: #fff;
}

.header-btn .center-line.open {
  opacity: 0;
  -webkit-transition: .5s;
  transition: .5s;
  background-color: #fff;
}

.header-btn .bottom-line.open {
  top: 20px;
  -webkit-transform: rotate(-135deg);
          transform: rotate(-135deg);
  -webkit-transition: .5s;
  transition: .5s;
  background-color: #fff;
}

.nav-list-hamburger {
  display: none;
  text-align: center;
  position: absolute;
  top: 0px;
  width: 100%;
  padding: 20px 0;
  background-color: rgba(0, 0, 0, 0.8);
  height: 100vh;
}

.nav-list-hamburger li {
  padding: 40px 0;
}

.nav-list-hamburger a {
  color: #fff;
  text-decoration: none;
}

.main-top {
  background-image: url("./site-image/top-image.jpg");
  height: 100vh;
  background-position: center;
  background-size: cover;
  position: relative;
}

.main-top .main-top-message {
  margin: auto;
  text-align: center;
}

.main-top .main-top-message h1 {
  padding: 300px 0 0;
  font-size: 4.5rem;
  letter-spacing: 2px;
  color: #707070;
  margin-bottom: 20px;
  text-align: center;
}

.main-top .main-top-message h1::after {
  font-size: 2rem;
  content: "~Furniture Shop~";
}

.message {
  height: 750px;
  position: relative;
}

.message .message-content {
  top: 150px;
  left: 18%;
  position: absolute;
  background-color: #fff;
  -webkit-box-shadow: 10px 10px 10px 10px rgba(0, 0, 0, 0.4);
          box-shadow: 10px 10px 10px 10px rgba(0, 0, 0, 0.4);
  width: 380px;
  padding: 30px 20px;
  z-index: 400;
}

.message .message-content h2 {
  font-size: 1.5rem;
  margin-bottom: 20px;
}

.message .message-content p {
  line-height: 2;
  font-size: .8rem;
}

.message img {
  z-index: 300;
  position: absolute;
  width: 500px;
  -webkit-box-shadow: 10px 10px 10px 10px rgba(0, 0, 0, 0.4);
          box-shadow: 10px 10px 10px 10px rgba(0, 0, 0, 0.4);
  top: 250px;
  right: 18%;
}

.message .squere {
  z-index: 100;
  position: absolute;
  padding: 20px;
  width: 25%;
  height: 250px;
  background-color: #E5E5E5;
  -webkit-box-shadow: 5px 5px 5px 5px rgba(0, 0, 0, 0.4);
          box-shadow: 5px 5px 5px 5px rgba(0, 0, 0, 0.4);
  top: 250px;
  left: 25%;
}

.design {
  height: 720px;
  position: relative;
}

.design .message-content {
  top: 400px;
  right: 20%;
  position: absolute;
  background-color: #fff;
  -webkit-box-shadow: 10px 10px 10px 10px rgba(0, 0, 0, 0.4);
          box-shadow: 10px 10px 10px 10px rgba(0, 0, 0, 0.4);
  width: 380px;
  padding: 30px 20px;
  z-index: 400;
}

.design .message-content h2 {
  font-size: 1.5rem;
  margin-bottom: 20px;
}

.design .message-content p {
  line-height: 2;
  font-size: .8rem;
}

.design img {
  z-index: 300;
  position: absolute;
  width: 500px;
  -webkit-box-shadow: 10px 10px 10px 10px rgba(0, 0, 0, 0.4);
          box-shadow: 10px 10px 10px 10px rgba(0, 0, 0, 0.4);
  top: 100px;
  left: 15%;
}

.design .squere {
  z-index: 100;
  position: absolute;
  padding: 20px;
  width: 25%;
  height: 250px;
  background-color: #E5E5E5;
  -webkit-box-shadow: 5px 5px 5px 5px rgba(0, 0, 0, 0.4);
          box-shadow: 5px 5px 5px 5px rgba(0, 0, 0, 0.4);
  top: 200px;
  right: 35%;
}

.about {
  height: 720px;
  position: relative;
}

.about .message-content {
  top: 430px;
  left: 16%;
  position: absolute;
  background-color: #fff;
  -webkit-box-shadow: 10px 10px 10px 10px rgba(0, 0, 0, 0.4);
          box-shadow: 10px 10px 10px 10px rgba(0, 0, 0, 0.4);
  width: 380px;
  padding: 30px 20px;
  z-index: 400;
}

.about .message-content h2 {
  font-size: 1.5rem;
  margin-bottom: 20px;
}

.about .message-content p {
  line-height: 2;
  font-size: .8rem;
}

.about img {
  z-index: 300;
  position: absolute;
  width: 500px;
  -webkit-box-shadow: 10px 10px 10px 10px rgba(0, 0, 0, 0.4);
          box-shadow: 10px 10px 10px 10px rgba(0, 0, 0, 0.4);
  top: 130px;
  right: 18%;
}

.about .squere {
  z-index: 100;
  position: absolute;
  padding: 20px;
  width: 25%;
  height: 250px;
  background-color: #E5E5E5;
  -webkit-box-shadow: 5px 5px 5px 5px rgba(0, 0, 0, 0.4);
          box-shadow: 5px 5px 5px 5px rgba(0, 0, 0, 0.4);
  top: 230px;
  left: 30%;
}

.feature {
  height: 720px;
  position: relative;
}

.feature .message-content {
  top: 150px;
  right: 20%;
  position: absolute;
  background-color: #fff;
  -webkit-box-shadow: 10px 10px 10px 10px rgba(0, 0, 0, 0.4);
          box-shadow: 10px 10px 10px 10px rgba(0, 0, 0, 0.4);
  width: 380px;
  padding: 30px 20px;
  z-index: 400;
}

.feature .message-content h2 {
  font-size: 1.5rem;
  margin-bottom: 20px;
}

.feature .message-content p {
  line-height: 2;
  font-size: .8rem;
}

.feature img {
  z-index: 300;
  position: absolute;
  width: 500px;
  -webkit-box-shadow: 10px 10px 10px 10px rgba(0, 0, 0, 0.4);
          box-shadow: 10px 10px 10px 10px rgba(0, 0, 0, 0.4);
  height: 400px;
  top: 200px;
  left: 15%;
}

.feature .squere {
  z-index: 100;
  position: absolute;
  padding: 20px;
  width: 25%;
  height: 250px;
  background-color: #E5E5E5;
  -webkit-box-shadow: 5px 5px 5px 5px rgba(0, 0, 0, 0.4);
          box-shadow: 5px 5px 5px 5px rgba(0, 0, 0, 0.4);
  top: 250px;
  left: 45%;
}

.product {
  width: 80%;
  margin: 100px auto 200px;
}

.product .product-title {
  width: 20%;
  -webkit-box-shadow: 5px 5px 5px 5px rgba(0, 0, 0, 0.4);
          box-shadow: 5px 5px 5px 5px rgba(0, 0, 0, 0.4);
  text-align: center;
}

.product .product-title h2 {
  font-size: 2rem;
  padding: 20px;
}

.product .swiper-wrapper {
  margin-top: 30px;
}

.product .swiper-wrapper .swiper-slide {
  -webkit-box-shadow: 0px 10px 10px 0px rgba(0, 0, 0, 0.4);
          box-shadow: 0px 10px 10px 0px rgba(0, 0, 0, 0.4);
  width: 30%;
  margin: 0 20px 30px;
  margin-top: 80px;
  text-align: center;
}

.product .swiper-wrapper .swiper-slide img {
  width: 100%;
}

.product .swiper-wrapper .swiper-slide p {
  font-size: 0.8rem;
  line-height: 2;
}

.product .swiper-wrapper .swiper-slide p span {
  color: red;
}

.news {
  width: 80%;
  margin: 50px auto;
}

.news .news-title {
  width: 20%;
  -webkit-box-shadow: 5px 5px 5px 5px rgba(0, 0, 0, 0.4);
          box-shadow: 5px 5px 5px 5px rgba(0, 0, 0, 0.4);
  text-align: center;
}

.news .news-title h2 {
  font-size: 2rem;
  padding: 20px;
}

.news .news-wrapper {
  width: 70%;
  margin: 80px auto 50px;
}

.news .news-wrapper .news-item {
  width: 100%;
  margin: 0 auto;
  text-align: center;
  margin: 0 0 25px 80px;
}

.news .news-wrapper .news-item dl {
  width: 100%;
  margin: 0 auto 50px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-left: 40px;
}

.news .news-wrapper .news-item dl .news-notice {
  display: inline-block;
  width: 100px;
  padding: 10px 50px;
  font-size: .8rem;
  background-color: #707070;
  color: #fff;
}

.news .news-wrapper .news-item dl .news-content {
  padding: 10px 0 10px 45px;
  width: 80%;
  text-align: left;
}

.news .news-wrapper .news-item dl .news-content a {
  font-size: 1rem;
  color: #333;
}

.news .news-wrapper .btn {
  background-color: #707070;
  margin: 50px 0;
}

.news .news-wrapper .btn a {
  float: right;
  text-decoration: none;
  color: #fff;
  padding: 20px 40px;
  -webkit-box-shadow: 5px 5px 5px 5px rgba(0, 0, 0, 0.4);
          box-shadow: 5px 5px 5px 5px rgba(0, 0, 0, 0.4);
}

.contact {
  margin-top: 200px;
  height: 720px;
  position: relative;
}

.contact .message-content {
  top: 400px;
  left: 17%;
  position: absolute;
  background-color: #fff;
  -webkit-box-shadow: 10px 10px 10px 10px rgba(0, 0, 0, 0.4);
          box-shadow: 10px 10px 10px 10px rgba(0, 0, 0, 0.4);
  width: 380px;
  padding: 30px 20px;
  z-index: 400;
}

.contact .message-content h2 {
  font-size: 1.5rem;
  margin-bottom: 20px;
}

.contact .message-content p {
  line-height: 2;
  font-size: .8rem;
}

.contact img {
  z-index: 300;
  position: absolute;
  width: 500px;
  -webkit-box-shadow: 10px 10px 10px 10px rgba(0, 0, 0, 0.4);
          box-shadow: 10px 10px 10px 10px rgba(0, 0, 0, 0.4);
  height: 400px;
  top: 150px;
  right: 18%;
}

.contact .squere {
  z-index: 100;
  position: absolute;
  padding: 20px;
  width: 25%;
  height: 250px;
  background-color: #E5E5E5;
  -webkit-box-shadow: 5px 5px 5px 5px rgba(0, 0, 0, 0.4);
          box-shadow: 5px 5px 5px 5px rgba(0, 0, 0, 0.4);
  top: 250px;
  left: 35%;
}

#page-top {
  position: fixed;
  bottom: 30px;
  right: 30px;
}

/* ボタンの色を変更 */
#page-top i {
  color: black;
  font-size: 30px;
}

/* ボタンをホバーしたときにカーソルを変更 */
#page-top i:hover {
  cursor: pointer;
}

footer {
  margin-top: 50px;
  text-align: center;
}

footer p {
  padding: 20px 0;
  font-size: 0.5rem;
}

@media screen and (max-width: 850px) {
  header .nav .nav-list {
    display: none;
  }
  header .nav .header-btn {
    display: block;
  }
  .main-top .main-top-message h1 {
    font-size: 3rem;
  }
  .main-top .main-top-message h1::after {
    font-size: 1.5rem;
  }
  .product .product-title {
    width: 30%;
  }
  .product .product-title h2 {
    font-size: 1.5rem;
    padding: 20px 30px;
  }
  .news .news-title {
    width: 30%;
  }
  .news .news-title h2 {
    font-size: 1.5rem;
  }
  .news .news-wrapper {
    width: 90%;
  }
}

@media screen and (max-width: 640px) {
  .message {
    height: 450px;
    position: relative;
  }
  .message .message-content {
    top: 100px;
    left: 28%;
    position: absolute;
    background-color: #fff;
    -webkit-box-shadow: 10px 10px 10px 10px rgba(0, 0, 0, 0.4);
            box-shadow: 10px 10px 10px 10px rgba(0, 0, 0, 0.4);
    width: 220px;
    padding: 30px 20px;
    z-index: 400;
  }
  .message .message-content h2 {
    font-size: 1rem;
    margin-bottom: 20px;
  }
  .message .message-content p {
    line-height: 2;
    font-size: .5rem;
  }
  .message img {
    z-index: 300;
    position: absolute;
    width: 280px;
    -webkit-box-shadow: 10px 10px 10px 10px rgba(0, 0, 0, 0.4);
            box-shadow: 10px 10px 10px 10px rgba(0, 0, 0, 0.4);
    top: 200px;
    right: 18%;
  }
  .message .squere {
    display: none;
  }
  .design {
    height: 550px;
    position: relative;
  }
  .design .message-content {
    top: 300px;
    right: 25%;
    position: absolute;
    background-color: #fff;
    -webkit-box-shadow: 10px 10px 10px 10px rgba(0, 0, 0, 0.4);
            box-shadow: 10px 10px 10px 10px rgba(0, 0, 0, 0.4);
    width: 220px;
    padding: 30px 20px;
    z-index: 400;
  }
  .design .message-content h2 {
    font-size: 1rem;
    margin-bottom: 20px;
  }
  .design .message-content p {
    line-height: 2;
    font-size: .5rem;
  }
  .design img {
    z-index: 300;
    position: absolute;
    width: 280px;
    -webkit-box-shadow: 10px 10px 10px 10px rgba(0, 0, 0, 0.4);
            box-shadow: 10px 10px 10px 10px rgba(0, 0, 0, 0.4);
    top: 100px;
    left: 12%;
  }
  .design .squere {
    display: none;
  }
  .product {
    margin: 150px auto;
  }
  .product .product-title {
    width: 70%;
    padding: 20px 25px;
    margin: 0 auto;
    -webkit-box-shadow: 5px 5px 5px 5px rgba(0, 0, 0, 0.4);
            box-shadow: 5px 5px 5px 5px rgba(0, 0, 0, 0.4);
    text-align: center;
  }
  .product .product-title h2 {
    font-size: 1.5rem;
    padding: 0;
  }
  .product .swiper-wrapper {
    margin-top: 0px;
  }
  .product .swiper-wrapper .swiper-slide {
    -webkit-box-shadow: 0px 10px 10px 0px rgba(0, 0, 0, 0.4);
            box-shadow: 0px 10px 10px 0px rgba(0, 0, 0, 0.4);
    width: 30%;
    margin: 0 20px 30px;
    margin-top: 80px;
    text-align: center;
  }
  .product .swiper-wrapper .swiper-slide img {
    width: 100%;
  }
  .product .swiper-wrapper .swiper-slide p {
    font-size: 0.8rem;
    line-height: 2;
  }
  .product .swiper-wrapper .swiper-slide p span {
    color: red;
  }
  .about {
    height: 450px;
    position: relative;
  }
  .about .message-content {
    top: 250px;
    left: 16%;
    position: absolute;
    background-color: #fff;
    -webkit-box-shadow: 10px 10px 10px 10px rgba(0, 0, 0, 0.4);
            box-shadow: 10px 10px 10px 10px rgba(0, 0, 0, 0.4);
    width: 220px;
    padding: 30px 20px;
    z-index: 400;
  }
  .about .message-content h2 {
    font-size: 1rem;
    margin-bottom: 20px;
  }
  .about .message-content p {
    line-height: 2;
    font-size: .5rem;
  }
  .about img {
    z-index: 300;
    position: absolute;
    width: 280px;
    -webkit-box-shadow: 10px 10px 10px 10px rgba(0, 0, 0, 0.4);
            box-shadow: 10px 10px 10px 10px rgba(0, 0, 0, 0.4);
    top: 100px;
    right: 18%;
  }
  .about .squere {
    display: none;
  }
  .feature {
    height: 450px;
    position: relative;
  }
  .feature .message-content {
    top: 300px;
    right: 23%;
    position: absolute;
    background-color: #fff;
    -webkit-box-shadow: 10px 10px 10px 10px rgba(0, 0, 0, 0.4);
            box-shadow: 10px 10px 10px 10px rgba(0, 0, 0, 0.4);
    width: 220px;
    padding: 30px 20px;
    z-index: 400;
  }
  .feature .message-content h2 {
    font-size: 1rem;
    margin-bottom: 20px;
  }
  .feature .message-content p {
    line-height: 2;
    font-size: .5rem;
  }
  .feature img {
    z-index: 300;
    position: absolute;
    width: 280px;
    -webkit-box-shadow: 10px 10px 10px 10px rgba(0, 0, 0, 0.4);
            box-shadow: 10px 10px 10px 10px rgba(0, 0, 0, 0.4);
    height: 300px;
    top: 150px;
    left: 15%;
  }
  .feature .squere {
    display: none;
  }
  .contact {
    margin-top: 200px;
    height: 720px;
    position: relative;
  }
  .contact .message-content {
    top: 400px;
    left: 17%;
    position: absolute;
    background-color: #fff;
    -webkit-box-shadow: 10px 10px 10px 10px rgba(0, 0, 0, 0.4);
            box-shadow: 10px 10px 10px 10px rgba(0, 0, 0, 0.4);
    width: 220px;
    padding: 30px 20px;
    z-index: 400;
  }
  .contact .message-content h2 {
    font-size: 1rem;
    margin-bottom: 20px;
  }
  .contact .message-content p {
    line-height: 2;
    font-size: .5rem;
  }
  .contact img {
    z-index: 300;
    position: absolute;
    width: 280px;
    -webkit-box-shadow: 10px 10px 10px 10px rgba(0, 0, 0, 0.4);
            box-shadow: 10px 10px 10px 10px rgba(0, 0, 0, 0.4);
    height: 400px;
    top: 150px;
    right: 18%;
  }
  .contact .squere {
    display: none;
  }
  .news {
    width: 80%;
    margin: 0 auto;
  }
  .news .news-title {
    width: 60%;
    margin: 0 auto;
    -webkit-box-shadow: 5px 5px 5px 5px rgba(0, 0, 0, 0.4);
            box-shadow: 5px 5px 5px 5px rgba(0, 0, 0, 0.4);
    text-align: center;
  }
  .news .news-title h2 {
    font-size: 1.5rem;
    padding: 20px;
  }
  .news .news-wrapper {
    width: 90%;
    margin: 80px auto 50px;
  }
  .news .news-wrapper .news-item {
    width: 100%;
    margin: 0 auto;
    text-align: center;
    margin-bottom: 25px;
  }
  .news .news-wrapper .news-item dl {
    width: 100%;
    margin: 0 auto 50px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .news .news-wrapper .news-item dl .news-notice {
    display: inline-block;
    width: 100px;
    padding: 10px 30px;
    font-size: .4rem;
    background-color: #707070;
    color: #fff;
  }
  .news .news-wrapper .news-item dl .news-content {
    padding: 10px 0 10px 45px;
    width: 80%;
    text-align: left;
  }
  .news .news-wrapper .news-item dl .news-content a {
    font-size: .6rem;
    color: #333;
  }
  .news .news-wrapper .btn {
    background-color: #707070;
    margin: 50px 0;
  }
  .news .news-wrapper .btn a {
    text-align: center;
    text-decoration: none;
    color: #fff;
    font-size: .5rem;
    padding: 20px 40px;
    -webkit-box-shadow: 5px 5px 5px 5px rgba(0, 0, 0, 0.4);
            box-shadow: 5px 5px 5px 5px rgba(0, 0, 0, 0.4);
  }
}
/*# sourceMappingURL=index.css.map */
